@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Mullantlavan<br />
    Magheracloone<br />
    Carrickmacross<br />
    Co. Monaghan<br />
    <abbr title="Phone">P:</abbr>
    0879012388
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:thomasmartin@brightfieldsconsultancy.com">thomasmartin@brightfieldsconsultancy.com</a><br />
</address>